<app-spinner *ngIf="loading"></app-spinner>


<div class="p-6 max-w-6xl mx-auto">
  <h2 class="text-2xl font-extrabold mb-6 text-gray-900">Lista de Productos</h2>
  <app-spinner *ngIf="loading"></app-spinner>
  <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-4 gap-4">
    <input type="text" placeholder="Buscar producto..." [(ngModel)]="searchTerm"
      class="w-full sm:w-64 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />

  </div>

  <div class="overflow-x-auto border border-gray-200 rounded-lg shadow-sm">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Nombre
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Precio
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Categoría
          </th>

          <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
            Acciones
          </th>
        </tr>
      </thead>

      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let product of filteredProducts()">
          <td class="px-6 py-4 whitespace-nowrap text-gray-900">{{ product.name }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-gray-900">
            {{ product.price | currency:'ARS':'symbol':'1.2-2' }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-gray-900">
            {{ product.categories?.name || 'Sin categoría' }}
          </td>
          <!-- Botón para agregar al carrito -->
          <td class="px-6 py-4 whitespace-nowrap text-center space-x-3">
            <button class="bg-green-600 text-white px-3 py-2 rounded" (click)="addToCart(product)">
              Agregar al carrito
            </button>


          </td>
        </tr>
        <tr *ngIf="filteredProducts().length === 0">
          <td colspan="4" class="px-6 py-4 text-center text-gray-500">
            No se encontraron productos.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
