<div class="p-6 max-w-4xl mx-auto">
  <h2 class="text-2xl font-bold mb-4">Tu carrito</h2>
  <app-spinner *ngIf="loading"></app-spinner>
  <div *ngIf="cartItems.length === 0">El carrito está vacío.</div>

  <div *ngFor="let item of cartItems" class="border-b py-4 flex justify-between items-center">
    <div class="flex gap-4 items-center">
      <img
        src="https://img.freepik.com/vector-premium/dibujo-dibujos-animados-plato-comida-dos-huevos-rebanada-pan_218179-2037.jpg"
        class="w-16 h-16 object-cover rounded" />
      <div>
        <h3 class="text-lg font-semibold">{{ item.product?.name || '' }}</h3>
        <p class="text-sm text-gray-600">Cantidad: {{ item.quantity }}</p>
        <p class="text-sm text-gray-600">Precio Unit: ${{ item.product?.price || 0 }}</p>

        <p class="text-sm text-gray-600">Subtotal: ${{ item.quantity * (item.product?.price || 0) }}</p>

      </div>
    </div>

    <!-- <div class="flex items-center gap-2">
      <input type="number" min="1" [value]="item.quantity" (change)="updateQty(item, $event.target.value)"
        class="w-16 border rounded px-2 py-1" />
      <button (click)="remove(item)" class="text-red-500 hover:underline">Eliminar</button>
    </div>
  </div> -->

  </div>
  <div class="mt-6 text-right" *ngIf="cartItems.length > 0">
    <p class="text-xl font-bold">Total: ${{ getTotal() }}</p>
    <button class="mt-2 bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700" (click)="clearCart()">Vaciar
      carrito</button>
    <button class="mt-2 ms-2 bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700"
      (click)="checkout()">Confirmar Pedido</button>
  </div>
